.finContainer {
    margin: 20px;
}

.finContainer h2 {
    font-size: 3rem;
}

.finContainer .parag{
    font-size: 1.3rem;
}

.finContainer .parag span {
    font-weight: bold;
}

h2 {
    margin: 20px;
}

.form-container {
    margin: 20px;
}


.errorForm {
    background-color: #f03;
    color: #ffa;
}