.loader-container {
    width: 100%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    position: relative;
    width: 84px;
    height: 84px;
    background: linear-gradient(to right, #034 20%, #0000 21%);
    background-repeat: repeat-x;
    background-size: 36px 8px;
    background-position: 9px bottom;
    animation: moveX 0.5s linear infinite;
  }
  .loader::before  {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 2px;
    background-color: #f34;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50% );
    animation: rotate 0.5s linear infinite;
}

@keyframes moveX {
  0%, 25%{    background-position: 10px bottom }
  75% , 100% {background-position: -30px bottom;}
}
@keyframes rotate {
  0%, 25% { transform:translate(-50% , -50% ) rotate(0deg)}
  75%,  100% { transform:translate(-55% , -55% ) rotate(90deg)}
}
  