.form-container{
    margin: 20px;
    padding:10px;
    gap: 8px;
    width: 80%;
}


.formu {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: start;
    justify-content: center;

 }


input{
    margin:10px;
    padding: 5px;
    width: 200px;
}
input:focus{
    border: 2px #ca33ed solid;

}


button{
    width: 80px;
    margin:10px;
    background-color: #ca33ed;
    padding: 7px;
    border-radius: 20px;
    box-shadow: 0px 12px 16px -1px rgba(82,69,23,0.75) inset;
    -webkit-box-shadow: 0px 12px 16px -1px rgba(82,69,23,0.75) inset;
    -moz-box-shadow: 0px 12px 16px -1px rgba(82,69,23,0.75) inset;
    transition: .5s;

}


button:hover{
    background-color: #db61f6;
    padding: 7px;
    border-radius: 20px;
    box-shadow: 0px 12px 16px -14px rgba(82,69,23,0.75);
    -webkit-box-shadow: 0px 12px 16px -14px rgba(82,69,23,0.75);
    -moz-box-shadow: 0px 12px 16px -14px rgba(82,69,23,0.75);
    cursor: pointer;
}