.detailContainer{
    border: 2px solid #ECD47F ;
    border-radius: 20px;
    margin: 100px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ECD47F;
    box-shadow: 0px 12px 16px -1px rgba(82,69,23,0.75);
    -webkit-box-shadow: 0px 12px 16px -1px rgba(82,69,23,0.75);
    -moz-box-shadow: 0px 12px 16px -1px rgba(82,69,23,0.75);
}
.detailImg{
    height: 200px;
    width: 220px;
    margin: 5px;

}

.detailInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.addProductContainer{
    border: 2px solid black;
    display: flex;
    flex-flow: column nowrap;
}