.card {
    width: 500px;
    height: 300px;
    border: 2px solid #ECD47F ;
    border-radius: 20px;
    margin: 10px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background-color: #ECD47F;
    box-shadow: 0px 12px 16px -1px rgba(82,69,23,0.75);
    -webkit-box-shadow: 0px 12px 16px -1px rgba(82,69,23,0.75);
    -moz-box-shadow: 0px 12px 16px -1px rgba(82,69,23,0.75);
}

.img{
    width: 200px;
    height: 210px;
    border-radius: 25px;

}
.cardTitle{
    font-size: 20px;
    font-stretch: condensed;
    max-width: 120px;
}

.card button{
    background-color: #ca33ed;
    padding: 7px;
    border-radius: 20px;
    box-shadow: 0px 12px 16px -1px rgba(82,69,23,0.75) inset;
-webkit-box-shadow: 0px 12px 16px -1px rgba(82,69,23,0.75) inset;
-moz-box-shadow: 0px 12px 16px -1px rgba(82,69,23,0.75) inset;
    transition: .5s;
}
.card button:hover {
    background-color: #db61f6;
    padding: 7px;
    border-radius: 20px;
    box-shadow: 0px 12px 16px -14px rgba(82,69,23,0.75);
    -webkit-box-shadow: 0px 12px 16px -14px rgba(82,69,23,0.75);
    -moz-box-shadow: 0px 12px 16px -14px rgba(82,69,23,0.75);
    cursor: pointer;
}

.category{
    font-size: 15px;
}